.mapContainer {
    height: 100vh;
    width: 100%;
}

.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 15px; /* Reduced padding */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure menu is above the map */
    max-width: 300px; /* Set a maximum width */
}

.form-label {
    display: block;
    margin-top: 5px; /* Reduced margin-top */
    font-size: 14px; /* Smaller font size */
}

.form-input, .form-checkbox {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px; /* Reduced margin-bottom */
    box-sizing: border-box; /* Ensure padding does not increase size */
}

.form-checkbox {
    width: auto; /* Checkbox should not stretch */
    margin-right: 5px; /* Space between checkbox and label text */
}

.submit-button {
    width: 100%;
    padding: 8px 10px; /* Adjusted padding for better fit */
    background-color: #007bff; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

